<%= form_with(model: list, local: true) do |form| %>
  <% if list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
        <% list.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br/>
  <div class="form-group">
    <%= form.text_field :description , class: 'form-control'%>
  </div>
  <br/>

  <div class="field check-box">
    <%= form.check_box :completed, class: 'form-check-input' %>
    <%= form.label :'達成した', class: 'form-check-label'%>
  </div>
  <br/>

  <div class="actions">
    <%= form.submit "保存する", class: 'btn btn-success btn-sm'%>
  </div>
  <br/>
<% end %>
